{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="card p-5">
  <div class="flex flex-col lg:flex-row justify-center gap-10">
    <div class="flex justify-center lg:justify-start lg:ms-5">
      {% if userInfo.profile_image %}
        <img class="rounded-full w-32 h-32 object-cover" src="{{ userInfo.profile_image.url }}">
      {% endif %}
    </div>
    <!-- Left Form Section -->
    <div class="w-full lg:w-2/3 mt-2">
      <form method="POST" action="{% url 'edit_staff' encoded_userId=info.id|encrypt_id %}">
        {% csrf_token %}
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div>
            <h5>First Name</h5>
            <p>{{ userInfo.first_name }}</p>
          </div>
          <div>
            <h5>Last Name</h5>
            <p>{{ userInfo.last_name }}</p>
          </div>
          <div>
            <h5>Username</h5>
            <p>{{ userInfo.username }}</p>
          </div>
          <div>
            <h5>Email</h5>
            <p>{{ userInfo.email }}</p>
          </div>
          <div>
            <h5>Phone Number</h5>
            <p>{{ userInfo.phone_number }}</p>
          </div>
          <div class="flex gap-4 items-center mt-2">
            <label class="flex items-center gap-2">
              <input type="checkbox" name="active_edit" class="form-checkbox rounded" {% if userInfo.is_active %}checked{% endif %}>
              <span>Active</span>
            </label>
            <label class="flex items-center gap-2">
              <input type="checkbox" name="staff_edit" class="form-checkbox rounded" {% if userInfo.is_staff %}checked{% endif %}>
              <span>Staff</span>
            </label>
          </div>
        </div>

        <!-- Group Section -->
        <div class="mt-3 mb-3">
          <caption class="font-semibold text-lg">Groups</caption>
          <div class="border border-gray-300 rounded-xl p-4 mt-2 max-h-64 overflow-y-auto">
            {% for group in all_group %}
              <label for="checkBoxm_{{group.id}}" class="flex items-center gap-2 mb-2">
                <input type="checkbox" id="checkBoxm_{{group.id}}" name="groups_name" value="{{ group.id }}"
                       {% if group.id in groups %}checked{% endif %} class="form-checkbox rounded">
                {{ group.name }}
              </label>
            {% endfor %}
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end">
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
      </form>
    </div>

    <!-- Profile Image Section -->
    

  </div>
</div>

{% endblock %}
